
body {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #FAEBD7;
}

.list-wrapper {
	background-color: white;
}

.list {
	display: block;
	border-bottom: solid 1px;
}

.list > div {
	display: inline-block;
	width: 20%;
	text-align: center;
	padding: 10px 0;
}
.onmouseover:hover {
	background-color: white;
}

.attach {
	background-color: #FAEBD7;
	width: 600px;
}
.attach > input {
	margin-left: 3px;
}

.attach > input	{
	margin-right: 0px;
}

input {
	width: 200px;
	margin-left: 50px;
}

.width {
	min-width: 400px;
	max-width: 100%;
}

.alignToRight {
	display: block;
	margin-right: 0px;
}
